
<div class="row" style="margin: auto;
  width: 50%;

  padding: 10px; ">

    <div class="well">
        {{ form_start(form) }}
        <legend><i  aria-hidden="true"></i> Code du job composite</legend>
        <div>{{ form_widget(form.codecomposite) }}</div>
        <legend><i  aria-hidden="true"></i> Nom du job composite</legend>
        <div>{{ form_widget(form.name) }}</div>
        <legend><i  aria-hidden="true"></i> Etat du job composite</legend>
        <div>{{ form_widget(form.state) }}</div>
        <legend><i  aria-hidden="true"></i> Actif</legend>
        <div>{{ form_widget(form.actif) }}</div>

        <legend><i aria-hidden="true"></i> Expression</legend>
        <div>{{ form_widget(form.expression) }}</div>
        <legend><i  aria-hidden="true"></i> Email du destinataire</legend>
        <div>{{ form_widget(form.emailadmin) }}</div>
        <legend><i  aria-hidden="true"></i> Liste des sous jobs </legend>
        <div>{{ form_widget(form.listSousJobs) }}</div>
        <legend><i  aria-hidden="true"></i> Le créateur </legend>
        <div>
            {{ job_composite.createdBy }}
        </div>

        <br>
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div></div>
