{% extends 'base.html.twig' %}

{% block title %}JobComposite index{% endblock %}

{% block body %}
    <h1>JobComposite index</h1>
    <a href="{{ path('app_job_composite_new') }}" class="btn btn-success">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>State</th>
                <th>Actif</th>
                <th>ListDestination</th>
                <th>listSousJobs</th>
                <th>Actions</th>
                <th>Download log</th>
            </tr>
        </thead>
        <tbody>
        {% for job_composite in job_composites %}
            <tr>
                <td>{{ job_composite.id }}</td>
                <td>{{ job_composite.name }}</td>
                <td>{{ job_composite.state }}</td>
                <td> {% if(job_composite.actif == 1) %}
                    <a class="btn btn-warning">{{ job_composite.actif }}</a>
                    {% else %}
                     <a class="btn btn-danger">{{ job_composite.actif }}</a>
                        {% endif %}
                </td>

                <td>{{ job_composite.listDestination ? job_composite.listDestination|join(', ') : '' }}</td>
                <td>{{ job_composite.listSousJobs ? job_composite.listSousJobs|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('app_JobComposite_execute', {'id':job_composite.id}) }}"class="btn btn-success">Execute immediately</a>
                    <a href="{{ path('app_job_composite_show', {'id': job_composite.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('app_job_composite_edit', {'id': job_composite.id}) }}" class="btn btn-secondary">edit</a>
                    <a href="{{ path('app_job_composite_delete' ,{'id': job_composite.id}) }}" class="btn btn-danger">Delete</a>
                </td>
                <td>
                    {% for jobCron in job_composite.listSousJobs %}
                        {% if(jobCron.actif) %}
                        <a href="{{ path('app_JobCron_edit', {'id':jobCron.id}) }}" target="_blank" style="color:blue" >{{ jobCron.name }}</a>
                        {% else %}
                            <a href="{{ path('app_JobCron_edit', {'id':jobCron.id}) }}" target="_blank" style="color:red" >{{ jobCron.name }}</a>
                        {% endif %}
                            <a href="{{ path('app_JobCron_downloadFiles', {'id':jobCron.id}) }}" class="btn btn-warning pull-right">Download</a> <br><br>

                    {% endfor %}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
