{% extends 'base.html.twig' %}

{% block title %}JobComposite index{% endblock %}

{% block body %}
    <h1>JobComposite index</h1>
    <a href="{{ path('app_job_composite_new') }}" class="btn btn-success">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>State</th>
                <th>Actif</th>
                <th>ListDestination</th>
                <th>listSousJobs</th>
                <th>NextDateExec</th>
                <th>actions</th>
                <th>Download log</th>
            </tr>
        </thead>
        <tbody>
        {% for job_composite in job_composites %}
            <tr>
                <td>{{ job_composite.id }}</td>
                <td>{{ job_composite.name }}</td>
                <td>{{ job_composite.state }}</td>
                <td>{{ job_composite.actif ? 'Yes' : 'No' }}</td>
                <td>{{ job_composite.listDestination ? job_composite.listDestination|join(', ') : '' }}</td>
                <td>{{ job_composite.listSousJobs ? job_composite.listSousJobs|join(', ') : '' }}</td>
                <td>{{ job_composite.nextDateExec ? job_composite.nextDateExec|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_JobComposite_execute', {'id':job_composite.id}) }}"class="btn btn-success">Execute immediately</a>
                    <a href="{{ path('app_job_composite_show', {'id': job_composite.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('app_job_composite_edit', {'id': job_composite.id}) }}" class="btn btn-secondary">edit</a>
                    <a href="{{ path('app_job_composite_delete' ,{'id': job_composite.id}) }}" class="btn btn-danger">Delete</a>
                </td>
                <td>
                    <a href="{{ path('app_JobComposite_downloadFiles') }}" class="btn btn-warning">Download</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
