{% extends 'base.html.twig' %}

{% block title %}jobcron index{% endblock %}

{% block body %}

    <h1>jobcron index</h1>
    <a href="{{ path('app_jobCron_new') }}" class="btn btn-success">Create new</a>
    <table class="table">
        <thead>
        <tr>

            <th>Nom</th>
            <th>Expression</th>
            <th>Créé par</th>
            <th>Commande</th>
            <th>Actif</th>
            <th>Etat</th>
            <th>Actions</th>
            <th>Télécharger log</th>

        </tr>
        </thead>
        <tbody>
        {% for j in jobCron %}
            <tr>

                <td>{{ j.name }}</td>
                <td>{{ j.expression }}</td>
                <td>{{ j.createdBy }}</td>
                <td>{{ j.scriptExec }}</td>
                <td> {% if(j.actif == 1) %}
                        <a class="btn btn-warning" href="{{ path("app_JobCron_actifdesactif", {'id':j.id}) }}" >
                            Activé

                        </a>
                    {% else %}
                        <a class="btn btn-danger" href="{{ path("app_JobCron_actifdesactif", {'id':j.id}) }}">Désactivé</a>
                    {% endif %}
                </td>
                <td>
                    {{ j.state }}
                </td>
                <td>
                    {% if(j.actif) %}
                    <a href="{{ path('app_JobCron_execute',{'id': j.id}) }}" class="btn btn-success">Execution immédiate</a>
                    {% endif %}
                    <a href="{{ path('app_JobCron_edit', {'id': j.id}) }}" class="btn btn-secondary">Modifier</a>
                    <a href="{{ path('app_JobCron_delete', {'id': j.id}) }}" class="btn btn-danger">Supprimer</a>
                    <a href="{{ path('app_JobCron_nextdate',{'id':j.id}) }}">nextdate</a>
                </td>
                <td>
                    <a href="{{ path('app_JobCron_downloadFiles', {'id':j.id}) }}" class="btn btn-warning">Télécharger</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
{% block javascripts %}
    <script>
        window.setInterval('refresh()', 30000);
        // Call a function every 10000 milliseconds
        // (OR 10 seconds).

        // Refresh or reload page.
        function refresh() {
            window .location.reload();
        }
    </script>
{% endblock %}
